*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    background-color: aliceblue;
}

#name{
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    height: 20%;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

#main h1{
    padding-bottom: 10px;
}

#about{
    width: 80%;
    margin-top: 4%;
    margin-left: 10%;
    background-color: white;
    text-align: center;
    padding: 40px;
}

#about h2{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
}

#education{
    width: 80%;
    margin-top: 4%;
    margin-left: 10%;
    background-color: rgba(116, 160, 242, 0.847);
    text-align: center;
    padding: 40px;
}

#education h2{
    font-size: 25px;
    font-weight: 600;
}

#college{
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    padding: 12px;
    border-radius: 6px;
    background-color: white;
    text-align: center;
}

#school{
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    padding: 12px;
    border-radius: 6px;
    background-color: white;
    text-align: center;
}

#skills{
    width: 80%;
    margin-top: 4%;
    margin-left: 10%;
    background-color: antiquewhite;
    text-align: center;
    padding: 40px;
}

#skills h2{
    font-size: 25px;
    font-weight: 600;
}

.skill{
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    padding: 12px;
    border-radius: 6px;
    background-color: white;
    text-align: center;
    font-weight: 200;
}

#projects{
    width: 80%;
    margin-top: 4%;
    margin-left: 10%;
    background-color: rgba(176, 95, 216, 0.728);
    text-align: center;
    padding: 40px;
}

#projects h2{
    font-size: 25px;
    font-weight: 600;
}

.project{
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    padding: 12px;
    border-radius: 6px;
    background-color: white;
    text-align: center;
    font-weight: 200;
}

#contacts{
    width: 80%;
    margin-top: 4%;
    margin-left: 10%;
    background-color: aquamarine;
    text-align: center;
    padding: 40px;
}

#contacts h2{
    font-size: 25px;
    font-weight: 600;
}

.contact{
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    padding: 12px;
    border-radius: 6px;
    background-color: white;
    text-align: center;
    font-weight: 200;
}

#footer{
    color: white;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    background-color: darkslateblue;
}